# Ignore Jetbrains IDE folder
.idea/*

# Ignore vim .swp buffers for open files
.*.swp
.*.swo

# Ignore local development scripts
localdev_*

# Ignore logs
*.log

# Ignore test output related to ekv
.ekv*
.*test*
*.1
*.2

# Ignore temp files
*.bak

vendor/
*.wasm